/* body{
    background-image: url(./images/pexels-creative-vix-9754.jpg);
    width: 100%;
     background-repeat: no-repeat; 
     background-size: cover; 
}
.top-left{
    position: absolute;
    color: rgba(194, 85, 147, 0.966);
    top: 10px;
    left: 15px;
}
h1{
    text-align: center;
    margin-top: 250px;
}
h2{
    text-align: center;
    margin-top: 2px;
    text-decoration: overline;
} */